@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    background-color: #FFFFFF;
    color: #000000;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.button {
    cursor: pointer;
}

.page-header {
    width: 1200px;
    margin: 0 auto;
}
.navigation {
    display: flex;
    width: 1200px;
    height: 65px;
    margin: 0 auto;
}
.navigation-list {
    display: flex;
    height: 65px;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-left: 59px;
    list-style-type: none;
    font-weight: bold;
    font-size: 20px;
}

.navigation-item {
    position: relative;
  }

.navigation-list .navigation-link {
    padding: 3px 12px;
}

.navigation-list li {
    display: inherit;
    box-sizing: border-box;
    align-items: center;
    padding: 0;
    margin-right: 9px;
}

.page-header-logo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    cursor: pointer;
}

.navigation-user {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin-top: 15px;
    margin-left: auto;
    margin-right: 72px;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    }

.navigation-user .navigation-link:nth-child(1) {
    margin-right: 5px;
}

.navigation-link {
    position: relative;
    display: block;
    font-size: 20px;
    line-height: 32px;
    color: black;
    background-color: white;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    border-radius: 10px;
}

.navigation-link:hover {
    color: #756257;
}

.navigation-link:focus {
    outline: 3px solid #83B3D3;
}

.navigation-link-current::before {
    position: absolute;
    right: 12px;
    bottom: -14.5px;
    left: 12px;
    height: 2px;
    background-color: #756257;
    content: "";
}

.favourite-nr {
    position: absolute;
    top: 0;
    right: -3px;
    margin: auto;
    width: 19px;
    height: 19px;
    line-height: 19px;
    font-size: 10px;
    background-color: #7DB54F;
    color: white;
    border-radius: 50px;
}

.navigation-icon {
    display: flex;
    justify-content: center;
    align-items: center; 
    color: black;
}

.navigation-link:hover .navigation-icon {
    fill: #756257;
  }

.navigation-user .navigation-link {
    padding: 10px 9px;
}

.button-navigation {
    display: flex;
    justify-content: center;
    width: 160px;
    height: 38px;
    margin-left: 18px;
    padding-top: 9px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    background-color:#756257;
    border-radius: 4px;
    text-decoration: none;
    box-sizing: border-box;
}

.button-navigation:hover {
    background: #615048;
}

.button-navigation:focus {
    outline: 3px solid #83B3D3;
    border-radius: 4px;
}

.main-container {
    flex-grow: 1;
}

.page-container {
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.logo-main {
    padding-top: 51px;
    padding-bottom: 83px;
    display: block;
    margin: 0 auto;
}

.logo-index {
    height: 485px;
    background-color: rgb(223, 223, 199);
    color: black;
    background-image: url("../img/icon-home-page-logo.svg"), url("../img/background-header.jpg");
    background-position: bottom;
    background-size: 100% auto;
    background-repeat: no-repeat;
    text-align: center;
}

.about-sedona-town {
    margin-top: 63px;
    margin-bottom: 23px;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}
.see-advantage {
    margin-bottom: 79px;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
}

.advantages-list {
   text-align: center;
   margin: 0;
   padding: 0;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   list-style-type: none;
}
.advantages-item div {
    display: flex;
}
.item-1 {
    background-color: #83B3D3;
    color: white;
    width: 400px;
    height: 384px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.advantages-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;  
    text-transform: uppercase;
}
.advantages-list p {
    font-size: 18px;
    line-height: 21px;
    width: 220px;
}
.advantages-list-first {
    display: flex;
    padding: 0;
}
.advantages-list-first li {
    display: flex;
    color: black;
    width: 400px;
    height: 384px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.advantages-list-first li:nth-child(odd) {
    background-color: rgba(131, 179, 211, 0.12);
}
.item-2 {
    background-color: #83B3D3;
    color: white;
    width: 400px;
    height: 384px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.item-3 {
    display: flex;
    background-color: rgba(131, 179, 211, 0.12);
    color: black;
    width: 400px;
    height: 384px;
    justify-content: center;
    flex-direction: column;
    align-items: center;    
}
.item-4 {
    display: flex;
    background-color: rgba(131, 179, 211, 0.2);
    color: black;
    width: 400px;
    height: 384px; 
    justify-content: center;
    flex-direction: column;
    align-items: center;   
}
.item-5 {
    display: flex;
    background-color: rgba(131, 179, 211, 0.12);
    color: black;
    width: 400px;
    height: 384px; 
    justify-content: center;
    flex-direction: column;
    align-items: center;   
}

.last-section {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}

.search-hotels {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 417px;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}
.search-hotels p {
    margin-top: 15px;
    margin-bottom: 73px;
    padding: 0;
    width: 720px;
    height: 37px;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    text-transform: none;
}

.button-search  {
    display: inherit;
    align-items: center;
    justify-content: center;
    width: 575px;
    margin: 0 auto;
    padding-top: 13px;
    padding-bottom: 17px;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
    color: white;
    background-color:#756257;
    box-sizing: border-box;
    border-radius: 10px;  
    border: 3px solid #756257;
}
.button-search:hover {
    background: #615048;
    border: 3px solid #615048;
}

.button-search:focus {
    background: #615048;
    border: 3px solid #83B3D3;
    outline: none;
    
}

.newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
} 

.newsletter-photo {
    background-image: url("../img/background-newslatter.jpg");
    color: white;
    background-color: white;
    background-size: 1200px 100%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    width: 100%;
}
.newsletter-title-black p {
    color: black;
}

.newsletter-title {
    margin: 86px 0 30px 0;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

.newsletter p {
    height: 72px;
    margin: 0 0 auto 0;
    font-weight: normal;
    text-transform: none;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: white;
}

.newsletter-black p {
    color: black;
}

.newsletter-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 800px;
    margin-top: 26px;
    margin-bottom: 94px;
}

.field {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 60px;
    padding-left: 18px;
    padding-right: 19px;
    font-family: inherit;
    font-size: 18px;
    background: #F2F2F2;
    border: 0;
    border-radius: 10px 0px 0px 10px;
    border: 2px solid #F2F2F2;
    box-sizing: border-box;
}

.field:hover {
    background: #E6E6E6;
}

.field:focus {
    background: #E6E6E6;
    outline: 3px solid #83B3D3;
}

.field:focus:invalid {
    border: 2px solid #FF5757;
}

.field:active {
    border: 2px solid #000000;
}

.button-newsletter {
    padding: 19px;
    margin: 0;
    width: 200px;
    height: 60px;
    font-weight: bold;
    font-family: inherit;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color:#83B3D3;
    border-radius: 0px 10px 10px 0px;
    border: 0;
}
.button-newsletter:hover {
    background: #68A2CA;
}

.button-newsletter:focus {
    background: #68A2CA;
    outline: 3px solid #756257;
}

.page-footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 37px 0 30px;
}

.footer-social-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    margin-left: 72px;
}

.footer-social-item {
    margin-right: 23px;
}

.social-icon-footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 18px;
    fill: #83B3D3;
    box-sizing: border-box;
    text-decoration: none;
  }

  .social-icon:hover {
    fill: #68A2CA;
  }

  .social-icon-footer:focus {
    outline: 3px solid #83B3D3;
    border-radius: 1px;
    outline-offset: 6px;

  }

.footer-contacts {
    margin-right: auto;
    margin-left: auto;
}

.footer-contacts-address-phone {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: black;
    box-sizing: border-box;
}
.footer-contacts-address-phone:hover {
    color: #756257;
}

.footer-contacts-address-phone:focus {
    outline: 3px solid #83B3D3;
    border-radius: 10px;
}

.footer-logo-html {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
    margin: 0;
    margin-right: 55px;
    fill: black;
    box-sizing: border-box;
    
}

.footer-logo-icon:hover {
    fill: #756257;
}

.footer-logo-html:focus {
    fill: #756257;
    outline: 3px solid #83B3D3;
    border-radius: 10px;
}

.hotel-sort {
    background-image: url("../img/background-catalog.jpg");
    background-color: rgb(204, 177, 182);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 34px 70px;
    box-sizing: border-box;
}
.inner-header{
    display: flex;
    flex-direction: column;
}
.inner-header-title {
    margin: 0;
    margin-bottom: -5px;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: white;
}

.breadcrumbs {
    display: inherit;
    padding: 0;
    margin: 0;
    margin-bottom: 45px;
    list-style-type: none;
    line-height: 21px;
    cursor: pointer;
    box-sizing: border-box;
}
.breadcrumbs-item {
    margin-right: 8px;   
}

.breadcrumbs-item:hover {
    opacity: 0.6;
}


.breadcrumbs-link {
    margin-left: 3px;
    font-size: 16px;
    line-height: 21px;
    color: white;
}
.catalog-filter {
    display: grid;
    grid-template-columns: 218px 312px 370px auto;
    margin-bottom: 50px;
}

.catalog-filter-group {
    margin: 0;
    padding: 0;
    border: 0;
}
.catalog-filter-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: white;
    padding-bottom: 30px;
}

.control {
    position: relative;
    display: block;
    padding-left: 19px;
}

.control-mark {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    border: 0;
    background: #FFFFFF;
    border-radius: 4px;
}

.control:hover .control-mark {
    background: rgba(255, 255, 255, 0.6);
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 5px;
  left: 4px;
  width: 12px;
  height: 10px;
  background-image: url("../img/icon-checkbox.svg");
  content: "";
}

.control-input[type="radio"] + .control-mark {
    border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    background-color: #3F5E72;
    border-radius: 50%;
    content: "";
}

.control-label {
    padding-left: 20px;
    font: inherit;
    font-size: 18px;
    line-height: 23px;
    color: white;
}

.catalog-filter-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
  
.catalog-filter-item:not(:last-child) {
    margin-bottom: 13px;
}


.range-scale {
    position: relative;
    height: 4px;
    width: 287px;
    margin-top: 28px;
    background-color: grey;
}

.range-bar {
    position: absolute;
    left: 9px;
    right: 61px;
    height: 4px;
    background-color:white;
}

.range-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.range-toggle:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
    outline: 3px solid #83B3D3;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25) 
}

.range-toggle:active {
    outline: 2px solid #83B3D3;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-min {
    top: -8px;
    left: -10px;
}
 
.toggle-max {
    top: -8px;
    right: -10px;
}

.range-wrapper-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 287px;
    margin: 0;
    padding: 0;
}

.catalog-filter-label-min {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 144px;
    height: 48px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 4px 0 0 4px;
}

.catalog-filter-label-max {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 144px;
    height: 48px;
    border: 2px solid #FFFFFF;
    border-left-width: 0;
    box-sizing: border-box;
    border-radius: 0 4px 4px 0;
}

.catalog-filter-input-min {
    width: 92px;
    padding-top: 5px;
    padding-left: 17px;
    font: inherit;
    background-color: transparent;
    color: white;
    appearance: textfield;
    outline: 0;
    border: 0;
}

.catalog-filter-input-max {
    width: 90px;
    padding-top: 5px;
    padding-left: 15px;
    font: inherit;
    background-color: transparent;
    color: white;
    appearance: textfield;
    outline: 0;
    border: 0;
}

.catalog-filter-input::-webkit-outer-spin-button,
.catalog-filter-input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.from-to {
    opacity: 0.3;
}

.submit-reset {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.button-submit {
    width: 158px;
    height: 48px;
    margin-top: 61px;
    font: inherit;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    background: #83B3D3;
    color: white;
    border-radius: 4px;
    border: 0;
    text-transform: uppercase;
}

.button-reset {
    margin-top: 20px;
    padding: 0;
    font: inherit;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: white;
    background: transparent;
    border: 0;
}

.sorting-header {
    display: flex;
    align-items: center;
    height: 134px;
    margin-right: 72px;
    margin-left: 72px;
}

.total-found {
    margin-right: auto;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    color: black;
    background-color: white;
    text-transform: uppercase;
}

.select {
    position: relative;
    display: flex;
    align-items: center;
    width: 295px;
    margin-right: auto;
}

.select-type-of-sorting {
    height: 48px;
    width: 287px;
    padding-left: 17px;
    font: inherit;
    font-size: 18px;
    color: black;
    background-color: white;
    border: 2px solid #E6E6E6;
    background-image: url("../img/icon-arrow-select.svg");
    background-repeat: no-repeat;
    background-position: right 20px center;
    appearance: none;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
}

.select-type-of-sorting:hover {
    border: 2px solid #83B3D3;
}

.select-type-of-sorting:focus {
    border: 2px solid #83B3D3;
}

.button-sorting {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    margin-left: 7px;
    margin-right: 1px;
    border: 2px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

.button-sorting:hover {
    border: 2px solid #83B3D3;
}

.button-sorting:focus {
    border: 2px solid #83B3D3;
}

.button-first {
    margin-left: 73px;
}

.chosen {
    border: 2px solid #000000;
}

.hotels-list {
    padding: 0;
    margin: 0;
    margin-left: 72px;
    margin-right: 72px ;
    list-style-type: none;
}

.hotels-list li:first-child {
    border-top: 1px solid #E6E6E6;
}
.hotel-card {
    display: grid;
    grid-template-columns: 217px 157px 522px 159px;
    grid-template-rows: 27px 56px 37px;
    border-bottom: 1px solid #E6E6E6;
    padding-top: 30px;
    padding-bottom: 30px;
}

.hotel-card-link {
    grid-row-start: 1;
    grid-row-end: 4;
    margin-right: 39px;
}


.hotel-card-image:hover {
    opacity: 0.6;
}

.hotel-card-link:focus {
    outline: 3px solid #83B3D3;
    border: 0;
}

.hotel-card-image:active {
    opacity: 0.3;
}

.hotel-card-title-link {
    grid-column: 2/ 4;
    grid-row: 1/ 2;
    margin: 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
    color:black;
    background-color: white;
    text-decoration: none;  
    cursor: pointer;
    outline: 0;
}

.hotel-card-title-link:focus .hotel-card-title {
    color: #756257;
    outline: 3px solid #83B3D3;
    outline-offset: 6px;
    border-radius: 2px;
}

.hotel-card-title-link:active .hotel-card-title {
    color: #756257;
    opacity: 0.3;
}

.hotel-card-title {
    margin: 0;
    box-sizing: border-box;
    font-size: 24px;
    line-height: 24px;
    display: inline-block;
}

.hotel-card-title:hover{
    color: #756257;
}

.hotel-card-type {
    grid-row: 2/ 3;
    grid-column: 2/ 3;
    width: 105px;
    font-size: 18px;
    line-height: 23px;
    margin: 0;
    margin-right: 54px;
}

.hotel-price {
    grid-row: 2/ 3;
    grid-column: 3/ 4;
    font-size: 18px;
    line-height: 23px;
    margin: 0;
}

.button-hotel {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.hotel-button-details {
    grid-row: 3/ 4;
    grid-column: 2/ 3;
    width: 151px;
    height: 37px;
    color: white;
    background-color: #756257;
    border-radius: 4px;
}

.hotel-button-details:hover {
    background: #615048;
}

.hotel-button-details:focus {
    background: #615048;
    outline: 3px solid #83B3D3;
}

.hotel-button-favorite {
    grid-row: 3/ 4;
    grid-column: 3/ 4;
    width: 160px;
    color: white;
    background-color: #83B3D3;
    box-sizing: border-box;
    border-radius: 4px;
  }

.hotel-button-favorite:hover {
    background: #68A2CA;
    border: 1px solid #756257;
}

.hotel-button-favorite:focus {
    background: #68A2CA;
    border: none;
    outline: 3px solid #756257;
}

.hotel-button-in-favorite {
    grid-row: 3/ 4;
    grid-column: 3/ 4;
    width: 160px;
    color: white;
    background-color: #7DB54F; 
    border-radius: 4px;
    box-sizing: border-box;
}

.hotel-button-in-favorite:hover {
    background: #6C9E42;
}

.hotel-button-in-favorite:focus {
    background: #6C9E42;
    outline: 3px solid #756257;
}


.rate-stars {
    display: flex;
    justify-content: center;
    grid-row: 1/ 2;
    grid-column: 4/ 5;
    padding: 0;
    margin-top: 3px;
}

.star-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
}

.hotel-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 3/ 4;
    grid-column: 4/ 5;
    margin: 0;
    width: 160px;
    height: 37px;
    font-size: 16px;
    text-transform: uppercase;
    color: black;
    background-color: #F2F2F2;
    text-decoration: none;
    border-radius: 4px;
}

.pagination-show-more {
    width: 625px;
    height: 55px;
    margin: 31px 288px;
    padding-top: 0;
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;
    font-family: PT Sans;
    font-style: normal;
    background-color: #83B3D3;
    color: white;
    text-transform: uppercase;
    border-radius: 4px;
    border: 0;
}

.pagination-show-more:hover {
    background: #68A2CA;
}

.pagination-show-more:focus {
    background: #68A2CA;
    border: 3px solid #756257;
    outline: 0;
}

.pagination-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
}
.pagination {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 30px;
}
.pagination li:first-child {
    margin-left: 71px;
}

.pagination-item{
    margin-right: 8px;
}

.pagination-link {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 55px;
    height: 55px;
    padding: 18px;
    padding-top: 16px;
    font-weight: bold;
    background-color: #83B3D3;
    color: white;
    text-decoration: none;
    border-radius: 4px;

}
.pagination-link:hover {
    background-color: #68A2CA;
}

.pagination-link:focus {
    background: #68A2CA;
    outline: 3px solid #756257;
}

.pagination-current {
    background-color: #F2F2F2;
    color: black;
}

.hotels-on-page {
    margin-left: 291px;
    margin-top: 45px;
}

.select-hotels-page {
    position: relative;
    display: flex;
    align-items: center;
}

.select-nr-on-page {
    width: 160px;
    height: 48px;
    margin-left: 54px;  
    margin-top: 24px;
    padding-left: 13px; 
    background-image: url("../img/icon-arrow-select.svg");
    color: black;
    background-repeat: no-repeat;
    background-position: right 20px center;
    appearance: none;
    border: 2px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
    font: inherit;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    outline: 0;
    cursor: pointer;
}

.popover {
    position: absolute;
    top: 46px;
    right: -177px;
    z-index: 1;
    box-sizing: border-box;
    width: 400px;
    height: 232px;
    padding: 0px;
    font-family: inherit;
    color: black;
    background-color: white;
    border: 1px solid #E6E6E6;
    border-radius: 20px;
    display: none;
}

.popover::before {
    position: absolute;
    right: 0px;
    bottom: 0px;
    left: 0px;
    height: 240px;
    background-image: url("../img/icon-popover.svg");
    background-repeat: no-repeat;
    background-position: top;
    content: "";
}


.popover-card {
    width: 400px;
}

.popover-content {
    height: 100%;
}

.popover-title {
    margin: 0;
    margin-top: 31px;
    width: 400px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: PT Sans;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #756257;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

.cart-items-list {
    padding-left: 25px;
}

.cart-item {
    display: grid;
    grid-template-columns: 66px 247px auto;
    grid-template-rows: 19px 30px;
    margin-top: 21px;
}

.cart-photo {
    padding-top: 5px;
}

.cart-item + .cart-item {
    margin-top: 21px;
  }

.cart-item-title {
    margin-top: 0;
    font: inherit;
    font-size: 18px;
    line-height: 37px;
    font-weight: 700;
    color: black;
}
  
.cart-item-type {
    margin: 0;
    font: inherit;
    font-size: 16px;
    line-height: 40px;
    color: #333333;
}

.cart-item .cart-photo {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}

.cart-item .cart-item-title {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.cart-item .cart-item-type {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.cart-item .button {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1 / 3;
    grid-column: 3 / 4;
    background-color: transparent;
    border: 0;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(242, 242, 242, 0.8);
    display: none;
}

.modal {
    position: relative;
    margin: auto;
    margin-top: 398px;
    padding: 70px;
    background-color: #FFFFFF;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
}

.modal-select {
    width: 575px;
}

.modal-close-button {
    position: absolute;
    padding: 0;
    top: 53px;
    right: 70px;
    width: 53px;
    height: 53px;
    background-color: #F2F2F2;;
    border: none;
    border-radius: 50px;
    background-image: url("../img/icon-close.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.modal-title {
    margin: 0;
    margin-bottom: 72px;
    font-family: inherit;
    font-size: 30px;
    line-height: 19px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.appointment-form {
    display: grid;
    grid-template-columns: 155px 172px 110px auto;
    grid-template-rows: 41px 45px 46px 54px 39px 60px;
    
}

.appointment-date-in {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    padding-top: 7px;
    align-items: center;
    font-family: inherit;
    font-weight: bold;
    font-size: 18px;
    
}

.field-date-in {
    grid-column: 2 / 5;
    grid-row: 1 / 2;
    width: 420px;
    height: 50px;
    padding-left: 19px;
    background: #F2F2F2;
    color: black;
    border: 0;
    border-radius: 4px;
    font-family: inherit;
    font-weight: bold;
    font-size: 18px;
    line-height: 40px;
}

.appointment-info-invalid {
    grid-column: 2 / 5;
    grid-row: 2 / 3;
    font-family: inherit;
    font-size: 16px;
    line-height: 10px;
    color: red;
}

.appointment-date-out {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    display: flex;
    align-items: center;
    padding-top: 11px;
    font-family: inherit;
    font-weight: bold;
    font-size: 18px;
    line-height: 10px;
}

.field-date-out {
    grid-column: 2 / 5;
    grid-row: 3 / 4;
    width: 420px;
    height: 50px;
    padding-left: 19px;
    background: #F2F2F2;
    color: black;
    border: 0;
    border-radius: 4px;
    font-family: inherit;
    font-weight: bold;
    font-size: 18px;
    line-height: 40px;
}

.appointment-info {
    grid-column: 2 / 5;
    grid-row: 4 / 5;
    font-family: inherit;
    font-size: 16px;
    line-height: 10px;
    color: black;
}

.field-group {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: bold;
    font-size: 18px;

}
.choose-nr {
    display: flex;
    justify-content: center;
    align-items: center;
}
.select-details-adult {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
}

.select-details-children {
    grid-column: 3 / 5;
    grid-row: 5 / 6;
    padding-left: 17px;
}

.appointment-submit {
    grid-column: 1 / 5;
    grid-row: 6 / 7;
    width: 575px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 44px;
    background: #83B3D3;
    color: white;
    border: 0;
    border-radius: 10px;
    font-family: inherit;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}
