@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}
html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    background-color: #FFFFFF;
    color: #000000;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-header {
    width: 1200px;
    margin: 0 auto;
}
.navigation {
    display: flex;
    width: 1200px;
    height: 65px;
    margin: 0 auto;
}
.navigation-list {
    display: flex;
    height: 65px;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-left: 71px;
    list-style-type: none;
    font-weight: bold;
    font-size: 20px;
}

.navigation-select {
    border-bottom: 2px solid #756257;
}
.navigation-list li:nth-child(1) {
    display: inherit;
    box-sizing: border-box;
    align-items: center;
    width: 86px;
    height: 65px;
    padding: 0;
    margin-right: 33px;
}
.navigation-list li:nth-child(1) .navigation-link{
    width: 86px;
}

.navigation-list li:nth-child(2) {
    display: inherit;
    align-items: center;
    width: 106px;
    height: 65px;
    padding: 0;
    margin-right: 33px;
}

.navigation-list li:nth-child(2) .navigation-link{
    width: 106px;
}

.navigation-list li:nth-child(3) {
    display: inherit;
    box-sizing: border-box;
    align-items: center;
    padding: 0;
    width: 111px;
    height: 65px;
}

.navigation-list li:nth-child(3) .navigation-link{
    width: 111px;
}

.page-header-logo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
}

.navigation-user {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin-left: auto;
    margin-right: 71px;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    }

.navigation-link {
    display: block;
    padding: 0;
    font-size: 20px;
    line-height: 32px;
    color: black;
    background-color: white;
    text-decoration: none;
    text-align: center;
}

.navigation-link:hover {
    color: #756257;
}

.navigation-link:focus {
    border: 3px solid #83B3D3;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
}

.navigation-icon {
    display: flex;
    justify-content: center;
    align-items: center; 
    color: black;
}

.navigation-link:hover .navigation-icon {
    fill: #756257;
  }

.navigation-user .navigation-link {
    position: relative;
    padding: 10px;
    min-width: 18px;
    min-height: 18px;
}

.button-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 37px;
    margin-left: 20px;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: white;
    background-color:#756257;
    border-radius: 4px;
    text-decoration: none;
}

.button-navigation:hover {
    background: #615048;
    border-radius: 4px;
}

.button-navigation:focus {
    box-sizing: border-box;
    border: 3px solid #83B3D3;
    border-radius: 6px;
    outline: none;
}

.main-container {
    flex-grow: 1;
}

.page-container {
    width: 1200px;
    margin: 0 auto;
}

.logo-main {
    padding-top: 51px;
    padding-bottom: 83px;
    display: block;
    margin: 0 auto;
}

.logo-index {
    height: 485px;
    background-color: rgb(223, 223, 199);
    color: black;
    background-image: url("../img/icon-home-page-logo.svg"), url("../img/background-header.jpg");
    background-position: bottom;
    background-size: 100% auto;
    background-repeat: no-repeat;
    text-align: center;
}

.about-sedona-town {
    margin-top: 63px;
    margin-bottom: 23px;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}
.see-advantage {
    margin-bottom: 79px;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
}

.advantages-list {
   text-align: center;
   margin: 0;
   padding: 0;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   list-style-type: none;
}
.advantages-item div {
    display: flex;
}
.item-1 {
    background-color: #83B3D3;
    color: white;
    width: 400px;
    height: 384px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.advantages-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;  
    text-transform: uppercase;
}
.advantages-list p {
    font-size: 18px;
    line-height: 21px;
    width: 220px;
}
.advantages-list-first {
    display: flex;
    padding: 0;
}
.advantages-list-first li {
    display: flex;
    color: black;
    width: 400px;
    height: 384px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.advantages-list-first li:nth-child(odd) {
    background-color: rgba(131, 179, 211, 0.12);
}
.item-2 {
    background-color: #83B3D3;
    color: white;
    width: 400px;
    height: 384px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.item-3 {
    display: flex;
    background-color: rgba(131, 179, 211, 0.12);
    color: black;
    width: 400px;
    height: 384px;
    justify-content: center;
    flex-direction: column;
    align-items: center;    
}
.item-4 {
    display: flex;
    background-color: rgba(131, 179, 211, 0.2);
    color: black;
    width: 400px;
    height: 384px; 
    justify-content: center;
    flex-direction: column;
    align-items: center;   
}
.item-5 {
    display: flex;
    background-color: rgba(131, 179, 211, 0.12);
    color: black;
    width: 400px;
    height: 384px; 
    justify-content: center;
    flex-direction: column;
    align-items: center;   
}

.last-section {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}

.search-hotels {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 417px;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}
.search-hotels p {
    margin-top: 15px;
    margin-bottom: 73px;
    padding: 0;
    width: 720px;
    height: 37px;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    text-transform: none;
}

.button-search  {
    display: inherit;
    align-items: center;
    justify-content: center;
    width: 575px;
    height: 60px;
    font-size: 20px;
    line-height: 36px;
    text-decoration: none;
    color: white;
    background-color:#756257;
    align-self: center;
    border-radius: 10px;  
}
.button-search:hover {
    background: #615048;
    border-radius: 10px;
}

.button-search:focus {
    background: #615048;
    outline: 3px solid #83B3D3;
    box-sizing: border-box;
    border-radius: 10px;
}

.newsletter {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 411px;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
} 

.newsletter-photo {
    background-image: url("../img/background-newslatter.jpg");
    color: white;
    background-color: white;
    background-size: 1200px 100%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    width: 100%;
}
.newsletter-title-black p {
    color: black;
}

.newsletter-title {
    margin: 94px 0 30px 0;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

.newsletter p {
    margin: 0 0 auto 0;
    font-weight: normal;
    text-transform: none;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: white;
}

.newsletter-black p {
    color: black;
}

.newsletter-form {
    margin-bottom: 94px;
}

.field {
    padding: 0;
    width: 600px;
    height: 60px;
    background: #F2F2F2;
    border: 0;
    border-radius: 10px 0px 0px 10px;
}

.field:hover {
    background: #E6E6E6;
    border-radius: 10px 0px 0px 10px;
}

.field:focus {
    border: 3px solid #83B3D3;
    border-radius: 10px 0px 0px 10px;
    box-sizing: border-box;
    outline: none;
    
}

.button-newsletter {
    padding: 0;
    width: 200px;
    height: 60px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    align-items: center;
    position: absolute;
    text-transform: uppercase;
    color: white;
    background-color:#83B3D3;
    border: 0;
    border-radius: 0px 10px 10px 0px;
}
.button-newsletter:hover {
    background: #68A2CA;
}

.button-newsletter:focus {
    border: 3px solid #756257;
    outline: none;
}

.page-footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 120px;
    margin: 0 auto;
    
}

.footer-social-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 200px;
    list-style-type: none;
    padding-left: 0;
    margin-left: 72px;
}

.social-icon {
    fill: #83B3D3;
  }

  .social-icon:hover {
    fill: #68A2CA;
  }

  .social-icon-footer:focus .social-icon {
    border: 3px solid #83B3D3;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
  }

.footer-contacts {
    margin-right: auto;
    margin-left: auto;
}
.footer-contacts-address-phone {
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: black;
}
.footer-contacts-address-phone:hover {
    color: #756257;
}

.footer-contacts-address-phone:focus {
    border: 3px solid #83B3D3;
    box-sizing: border-box;
    border-radius: 10px;
}

.footer-logo {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 72px;
    fill: black;
}

.footer-logo-icon:hover {
    fill: #756257;
}

.footer-logo-html:focus .footer-logo-icon {
    border: 3px solid #83B3D3;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
}

.footer-social-list li:nth-child(1) {
    margin-right: 30px;
}
.footer-social-list li:nth-child(2) {
    margin-right: 30px;
}

.hotel-sort {
    background-image: url("../img/background-catalog.jpg");
    background-color: rgb(204, 177, 182);
    color: white;
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding: 30px;
}
.inner-header{
    display: flex;
    flex-direction: column;
}
.inner-header-title {
    height: 68px;
    margin: 0;
    margin-top: 35px;
    margin-left: 71px;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: white;
}

.breadcrumbs {
    display: inherit;
    padding: 0;
    margin: 0;
    margin-bottom: 45px;
    margin-left: 71px;
    list-style-type: none;
    line-height: 21px;
}
.breadcrumbs-item {
    margin-right: 11px;   
}

.breadcrumbs-link {
    font-size: 16px;
    line-height: 21px;
    color: white;
}
.catalog-filter {
    display: grid;
    grid-template-columns: 200px 280px 350px auto;
    margin-right: 70px;
}
.catalog-filter-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: white;
}

.submit-reset {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.control-label {
    font-size: 18px;
    line-height: 23px;
    color: white;
}


.sorting-header {
    display: flex;
    align-items: center;
    height: 134px;
}

.total-found {
    margin-left: 71px;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    color: black;
    background-color: white;
    text-transform: uppercase;
}

.select-type-of-sorting {
    height: 48px;
    width: 287px;
    margin-left: 192px;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: black;
    background-color: white;
    border: 2px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
}

.button-sorting {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: ;
    width: 48px;
    height: 48px;
    border: 3px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
    margin-right: 8px;
}

.button-first {
    margin-left: 81px;
}

.chosen {
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 4px;
}

.pagination-show-more {
    width: 625px;
    height: 55px;
    margin: 31px 288px;
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;
    font-family: PT Sans;
    font-style: normal;
    background-color: #83B3D3;
    color: white;
    border-color: inherit;
    text-transform: uppercase;
}
.pagination-edit {
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
    height: 55px;
}

.hotels-list {
    padding: 0;
    margin: 0;
    margin-left: 72px;
    list-style-type: none;
}

.hotel-card {
    display: grid;
    grid-template-columns: 210px 160px 530px 160px;
    grid-template-rows: 31px 52px 37px;
    border-bottom: 1px solid #E6E6E6;
    padding-top: 30px;
    padding-bottom: 30px;
}

.hotel-card-link {
    width: 210px;
    height: 120px;
    grid-row-start: 1;
    grid-row-end: 4;
}

.hotels-list li:first-child {
    border-top: 1px solid #E6E6E6;
}

.hotel-card-title {
    grid-column: 2/ 4;
    grid-row: 1/ 2;
    margin: 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    color:black;
    background-color: white;
    text-decoration: none;  
}

.hotel-card-type {
    grid-row: 2/ 3;
    grid-column: 2/ 3;
    width: 105px;
    font-size: 18px;
    line-height: 23px;
    margin: 0;
    margin-right: 54px;
}

.hotel-price {
    grid-row: 2/ 3;
    grid-column: 3/ 4;
    font-size: 18px;
    line-height: 23px;
    margin: 0;
}

.hotel-button-details {
    grid-row: 3/ 4;
    grid-column: 2/ 3;
    text-align: center;
    width: 151px;
    height: 37px;
    margin-right: 8px;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: white;
    background-color: #756257;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
    cursor: pointer;

}

.hotel-button-favorit {
    grid-row: 3/ 4;
    grid-column: 3/ 4;
    width: 160px;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: #83B3D3;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }

.select-button {
    grid-row: 3/ 4;
    grid-column: 3/ 4;
    color: white;
    background-color: #7DB54F; 
}

.rate-stars {
    grid-row: 1/ 2;
    grid-column: 4/ 5;
    text-align: center;
    padding: 0;
}

.hotel-reiting {
    grid-row: 3/ 4;
    grid-column: 4/ 5;
    text-align: center;
    width: 160px;
    font-size: 16px;
    text-transform: uppercase;
    color: black;
    background-color: #F2F2F2;
    text-decoration: none;
    border-radius: 4px;
}

.pagination {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 55px;
}
.pagination li:first-child {
    margin-left: 71px;
}

.pagination-item{
    margin-right: 8px;
}

.pagination-link {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 55px;
    height: 55px;
    padding: 18px;
    font-weight: bold;
    background-color: #83B3D3;
    color: white;
    text-decoration: none;
}

.pagination-current {
    background-color: #F2F2F2;
    color: black;
}

.hotels-on-page {
    margin-left: 302px;
}

.select-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 51px;
    width: 160px;
    height: 48px;   
    border: 2px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
}
